# -------------------------------------------------------
# SignalRoute -- Root Environment Variables
# -------------------------------------------------------

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend
ML_MODEL_URL=http://localhost:8001
OSRM_URL=http://router.project-osrm.org
MONGO_URI=mongodb://localhost:27017
DB_NAME=signalroute
