# necessary libraries for the project
numpy>=1.26.4
pandas>=2.2.2
matplotlib>=3.8.4
seaborn>=0.13.2
scikit-learn>=1.4.2
opencv-python>=4.9.0.80
pillow>=10.3.0
tqdm>=4.66.4

# additional libraries for web app development
streamlit==1.35.0
gradio==4.31.0

# additional libraries for API development
fastapi==0.111.0
uvicorn==0.30.1